@import "lib/bourbon";
@import "lib/neat";
@import "lib/envos";

.btn {
    @include button;
}
.btn-pri {
    @include button(shiny, #ff0000);
}

.box3 > li, .box3 > div {
  @include span-columns(4);
  @include omega(3n);
}