@import "lib/vars";
@import "lib/bourbon";
@import "lib/neat";
// @import "lib/bootstrap";
@import "lib/envos";

// Containers
.container {padding: 0 15px;}
.well {
  background: #fff url(../images/whitediamond.png);
  padding: 1em 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: $line-height-computed;
}


// Images
.btn, .input-group-addon {
  [class^="svg-"], [class*=" svg-"] {
    @include size(2em);
  }
}
[class^="svg-c-"], [class*=" svg-c-"] {
  @include size(4em);
}
.thumb img {@include img-responsive;}

// Buttons
// Core styles
.btn {
  display: inline-block;
  padding: $padding-base-vertical $padding-base-horizontal;
  margin-bottom: 0; // For input.btn
  font-size: $font-size-base;
  font-weight: $btn-font-weight;
  line-height: $line-height-base;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: $border-radius-base;
  white-space: nowrap;
  @include user-select(none);

  &:focus {
    @include tab-focus();
  }

  &:hover,
  &:focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    pointer-events: none; // Future-proof disabling of clicks
    opacity: .65;
  }

}


// Alternate buttons
// --------------------------------------------------

.btn {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}
.btn-pri {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
// Grid :: Boxes
.section-header, .boxes {  
  @include outer-container;
}
.boxes {
  padding: ($line-height-computed / 2) 0 $line-height-computed 0;
}
.box6 {
  @include span-columns(2);
  @include omega(6n);
}
.box4 {
  position: relative;  
  @include span-columns(3);
  @include omega(4n);
}
.box3 {
  position: relative;  
  @include span-columns(4);
  @include omega(3n);
}
.box2 {
  @include span-columns(6);
  @include omega(2n);
}

// Header
.brand {
  @include span-columns(5);
  img {
    width: 20em;
  }
}
.certificates {
  @extend .tac;
  @include span-columns(3);
  img {margin: 0 1em;}
}
.contacts {
  text-align: right;
  font-size: 1.4em; 
  line-height: 1.2em;
  @include span-columns(4);
  @include omega();  
  a {
    font-family: Arial, sans-serif;
    display: block;
    &.tel {
      font-size: 1.4em; 
      line-height: 1.3em;
    }
  }
}
.hdr-descr {
  font-size: 1.33em;
  @include span-columns(9);
}
.request-call {
  margin-top: $line-height-computed - 10;
  @extend .tar;
  @include span-columns(3);  
  @include omega();
  .btn-pri {
    padding: 8px 35px;
  }
}

header.boxes {
  padding-bottom: 0;
}
.seals {
  padding-top: $line-height-computed / 2;
}
.seal {
  padding: 5px 8px 8px;
  border: 1px solid $gray-lighter;
  min-height: 185px;
  overflow: auto;
  font-size: $font-size-base - 1;
  @include clearfix;
  @include background-image( radial-gradient(0% 50%, circle cover, #ffffff, #f1f1f1) );
  h3 {
  font-size: $font-size-base * 1.5;    
  }
  .th-seal {
    float: left;
    margin-right: 0.5em;
    @include size(90px 90px);
  }
}
// Footer
footer {
  padding-top: $line-height-computed / 2;
  background: $gray-lighter;
  border-top: 1px solid $gray-light;
  .box3:first-child a {
    display: block;
    font-family: Arial, sans-serif;
  }
  .btn-pri {
    padding: 8px 35px;
  }
}


.close-collapse {
  outline: none;
  font-size: 1em;
  .svg-arrow {
    opacity: 0.3;
    @include size(2em);
    @include transform-origin(center center);
    @include transform(rotate(-90deg));
  }
  @include transform(translateX(100%));  
  @include position(fixed, 50% 5px auto auto);
  @include transition-property (transform);
  @include transition-timing-function(ease-in);
  @include transition-duration(0.3s);
}
.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  @include transition(height .5s ease-in);
  &.in {
    height: auto;
    .close-collapse {
      @include transform(translateX(0%));
    }
  }
}

.box-serie {
  h3 + img {
    max-width: 80%;
    height: auto;
    border: 1px solid $btn-default-border;
  }
}
.new {
  z-index: 5;  
  position: relative;
  &:after {
    content: 'новинка';
    font-size: 0.8em;
    line-height: 4em;
    color: #fff;
    background: rgb(255, 95, 8);
    border-radius:50%;
    z-index: 6;
    @include size(4em);
    @include position(absolute, 50px 20px auto auto);
  }
}

// Products
.prod-description {
  @include outer-container;  
}

.prod-name {
  @extend .tac;
}
.prod-spec {
  padding: 0 2em;
  @include clearfix;
  strong { float: right;} 
}

.prod {
  background: #fff;
  border: 2px solid #e5e5e5;
  margin-bottom: $line-height-computed;
}
.prod .thumb {
  position: relative;
  display: block;
  height: 180px;
  margin-bottom: $line-height-computed;
  img {
    height: 100%;
    width: auto;
    margin:0 auto;
    vertical-align: bottom;
  }
}
.price {
  @include position(absolute, auto auto 50px 50% );
  span {
    margin-left:1em;
    padding:0 10px 0 12px;
    background: $brand-primary;
    color:$label-color;
    text-decoration:none;
    display: inline-block;
    line-height: 24px;
    position: relative;
    &:before {
      content:"";
      float:left;    
      margin-right: -1px;
      border-color:transparent $brand-primary transparent transparent;
      border-style:solid;
      border-width:12px 12px 12px 0;
      @include size(0 0);
      @include position(absolute, 0 100% auto auto);
    }
    &:after {
      content:"";
      float:left;
      background: $body-bg;      
      border-radius:2px;
      @include size(4px 4px);
      @include position(absolute, 10px auto auto -2px);
    }  
  } 
}
.price-old {  
  line-height: 24px;
  text-decoration: line-through;
  @include position(absolute, auto auto 20px 57%);
}
// Product details
.detail-thumb {
  @include span-columns(3);  
}
.detail-intro {  
  @include span-columns(9);
  @include omega();
}


/////////////////////
///////////////

.circle {
  background: rgb(255,255,255);
  display: block;
  border-radius: 100%;
  cursor: pointer;
  position: relative;
  margin: 0 auto;    
  overflow: hidden;
  z-index: 1;
  @include transform(translateZ(0));
  @include size(18em);
  img {
    max-width: 100%;
    height: auto;
  }
  span {
    color: rgba(255, 95, 8, 0);
    font-size: 1.6em;
    text-align: center;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    display: block;
    z-index: 3;
    position: absolute;
    width: 100%;
    top: 5.5em;
    @include transition(color 0.8s ease-in-out);
  }
  &:before,
  &:after {
    border-radius: 100%;
    content:"";
    position: absolute;
    top: 0; 
    left: 0;
    width: inherit; 
    height: inherit;
    z-index: 2;
    box-shadow: 
                inset 0.2em 0 0 rgba(30, 30, 30, 0.1), 
                inset 0 0.2em 0 rgba(30, 30, 30, 0.1), 
                inset -0.2em 0 0 rgba(30, 30, 30, 0.1), 
                inset 0 -0.2em 0 rgba(30, 30, 30, 0.1)
                ;
                
    @include transition(box-shadow 0.75s);
  }
  &:after  {
    @include transform(rotate(45deg));
  }
  &:hover {
    span {
      color: rgba(255, 255, 255, 1);
    }
    &:before,
    &:after  {
      box-shadow: 
                  inset 14em 0 0 rgba(255, 95, 8, 0.25), 
                  inset 0 14em 0 rgba(255, 95, 8, 0.25), 
                  inset -14em 0 0 rgba(255, 95, 8, 0.25), 
                  inset 0 -14em 0 rgba(255, 95, 8, 0.25)
                  ;
    }
  }
}
