@import url("http://fonts.googleapis.com/css?family=Istok+Web|Noto+Serif&subset=latin,cyrillic-ext");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Istok Web", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
  background-color: white; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input,
select[multiple],
textarea {
  background-image: none; }

a {
  color: #ff5e07;
  text-decoration: none; }
  a:hover, a:focus {
    color: #b94100;
    text-decoration: underline; }
  a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }

img {
  vertical-align: middle; }

.img-circle {
  border-radius: 50%; }

hr {
  margin-top: 22px;
  margin-bottom: 22px;
  border: 0;
  border-top: 1px solid #eeeeee; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0; }

p {
  margin: 0 0 11px; }

.lead {
  margin-bottom: 22px;
  font-weight: 200;
  line-height: 1.4; }
  @media (min-width: 768px) {
    .lead {
      font-size: 24px; } }

small {
  font-size: 85%; }

cite {
  font-style: normal; }

.text-muted {
  color: #999999; }

.text-primary {
  color: #ff5e07; }

.text-warning {
  color: #c09853; }

.text-danger {
  color: #b94a48; }

.text-success {
  color: #468847; }

.text-info {
  color: #3a87ad; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Istok Web", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small,
  .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
    font-weight: normal;
    line-height: 1;
    color: #999999; }

h1,
h2,
h3 {
  margin-top: 22px;
  margin-bottom: 11px; }

h4,
h5,
h6 {
  margin-top: 11px;
  margin-bottom: 11px; }

h1, .h1 {
  font-size: 41px; }

h2, .h2 {
  font-size: 34px; }

h3, .h3 {
  font-size: 28px; }

h4, .h4 {
  font-size: 20px; }

h5, .h5 {
  font-size: 16px; }

h6, .h6 {
  font-size: 14px; }

h1 small, .h1 small {
  font-size: 28px; }

h2 small, .h2 small {
  font-size: 20px; }

h3 small, .h3 small,
h4 small, .h4 small {
  font-size: 16px; }

.page-header {
  padding-bottom: 10px;
  margin: 44px 0 22px;
  border-bottom: 1px solid #eeeeee; }

ul,
ol {
  margin-top: 0;
  margin-bottom: 11px; }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-bottom: 0; }

.list-unstyled, .list-inline {
  padding-left: 0;
  list-style: none; }

.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px; }

dl {
  margin-bottom: 22px; }

dt,
dd {
  line-height: 1.42857; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999; }

abbr.initialism {
  font-size: 90%;
  text-transform: uppercase; }

blockquote {
  padding: 11px 22px;
  margin: 0 0 22px;
  border-left: 5px solid #eeeeee; }
  blockquote p {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.25; }
  blockquote p:last-child {
    margin-bottom: 0; }
  blockquote small {
    display: block;
    line-height: 1.42857;
    color: #999999; }
    blockquote small:before {
      content: '\2014 \00A0'; }
  blockquote.pull-right {
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid #eeeeee;
    border-left: 0; }
    blockquote.pull-right p,
    blockquote.pull-right small {
      text-align: right; }
    blockquote.pull-right small:before {
      content: ''; }
    blockquote.pull-right small:after {
      content: '\00A0 \2014'; }

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: ""; }

address {
  display: block;
  margin-bottom: 22px;
  font-style: normal;
  line-height: 1.42857; }

.close {
  float: right;
  font-size: 20px;
  line-height: 22px;
  color: #000;
  opacity: 20; }
  .close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 40; }

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none; }

.modal-backdrop {
  z-index: 1040;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px; }
  .modal-backdrop.fade {
    opacity: 0; }

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 30; }

.modal {
  width: 560px;
  margin-left: -280px;
  background-color: #fff;
  outline: none;
  z-index: 1050;
  position: fixed;
  top: 10%;
  left: 50%; }
  .modal.fade {
    -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
    transition: opacity 0.3s linear, top 0.3s ease-out;
    top: -25%; }
  .modal.fade.in {
    top: 10%; }

.modal-header {
  padding: 9px 15px; }
  .modal-header .close {
    margin-top: 22px;
    font-size: 2em; }
  .modal-header h3 {
    margin-bottom: 0; }

.modal-body {
  position: relative;
  overflow-y: auto;
  max-height: 450px;
  padding: 15px 25px; }

.modal-form {
  margin-bottom: 0; }

.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: center;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  *zoom: 1; }
  .modal-footer:before, .modal-footer:after {
    content: " ";
    display: table; }
  .modal-footer:after {
    clear: both; }

.input-group {
  margin: 22px 0;
  *zoom: 1; }
  .input-group:before, .input-group:after {
    content: " ";
    display: table; }
  .input-group:after {
    clear: both; }
  .input-group:first-child {
    margin-top: 0; }

.input-group-addon {
  float: left;
  width: 8%;
  padding-top: 10px;
  vertical-align: top; }

.input-required {
  float: left;
  width: 4%;
  line-height: 2em; }

.input-required, .helper-group strong {
  color: #ff5e07;
  font-size: 20px; }

.form-control {
  float: right;
  width: 88%;
  padding: 10px 16px;
  font-size: 20px;
  line-height: 1.5;
  color: #555555;
  vertical-align: middle;
  background-color: white;
  border: 2px solid #cccccc; }

textarea.form-control {
  height: auto; }

.modal-form .ng-invalid.ng-dirty {
  border-color: #f0ad4e;
  background: #f8d9ac; }
.modal-form .ng-valid.ng-dirty {
  border-color: #5cb85c; }

table {
  max-width: 100%;
  background-color: transparent; }

th {
  text-align: left; }

.table {
  width: 100%;
  margin-bottom: 22px; }
  .table thead > tr > th,
  .table thead > tr > td,
  .table tbody > tr > th,
  .table tbody > tr > td,
  .table tfoot > tr > th,
  .table tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #dddddd; }
  .table thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #dddddd; }
  .table caption + thead tr:first-child th, .table caption + thead tr:first-child td,
  .table colgroup + thead tr:first-child th,
  .table colgroup + thead tr:first-child td,
  .table thead:first-child tr:first-child th,
  .table thead:first-child tr:first-child td {
    border-top: 0; }
  .table tbody + tbody {
    border-top: 2px solid #dddddd; }

tbody > tr > td {
  white-space: nowrap; }

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9; }

.tac, .input-group-addon, .certificates, .prod-name {
  text-align: center; }

.tar, .request-call {
  text-align: right; }

.hide {
  display: none; }

.btn [class^="svg-"], .btn [class*=" svg-"], .input-group-addon [class^="svg-"], .input-group-addon [class*=" svg-"] {
  width: 2em;
  height: 2em; }

[class^="svg-c-"], [class*=" svg-c-"] {
  width: 4em;
  height: 4em; }

.thumb img {
  display: block;
  max-width: 100%;
  height: auto; }

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.42857;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }
  .btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  .btn:hover, .btn:focus {
    color: #333333;
    text-decoration: none; }
  .btn:active, .btn.active {
    outline: 0;
    background-image: none; }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65; }

.btn {
  color: #333333;
  background-color: white;
  border-color: #cccccc; }
  .btn:hover, .btn:focus, .btn:active, .btn.active {
    color: #333333;
    background-color: #ebebeb;
    border-color: #adadad; }
  .open .btn.dropdown-toggle {
    color: #333333;
    background-color: #ebebeb;
    border-color: #adadad; }
  .btn:active, .btn.active {
    background-image: none; }
  .open .btn.dropdown-toggle {
    background-image: none; }
  .btn.disabled, .btn.disabled:hover, .btn.disabled:focus, .btn.disabled:active, .btn.disabled.active, .btn[disabled], .btn[disabled]:hover, .btn[disabled]:focus, .btn[disabled]:active, .btn[disabled].active, fieldset[disabled] .btn, fieldset[disabled] .btn:hover, fieldset[disabled] .btn:focus, fieldset[disabled] .btn:active, fieldset[disabled] .btn.active {
    background-color: white;
    border-color: #cccccc; }

.btn-pri {
  color: white;
  background-color: #ff5e07;
  border-color: #ec5300; }
  .btn-pri:hover, .btn-pri:focus, .btn-pri:active, .btn-pri.active {
    color: white;
    background-color: #dd4e00;
    border-color: #af3d00; }
  .open .btn-pri.dropdown-toggle {
    color: white;
    background-color: #dd4e00;
    border-color: #af3d00; }
  .btn-pri:active, .btn-pri.active {
    background-image: none; }
  .open .btn-pri.dropdown-toggle {
    background-image: none; }
  .btn-pri.disabled, .btn-pri.disabled:hover, .btn-pri.disabled:focus, .btn-pri.disabled:active, .btn-pri.disabled.active, .btn-pri[disabled], .btn-pri[disabled]:hover, .btn-pri[disabled]:focus, .btn-pri[disabled]:active, .btn-pri[disabled].active, fieldset[disabled] .btn-pri, fieldset[disabled] .btn-pri:hover, fieldset[disabled] .btn-pri:focus, fieldset[disabled] .btn-pri:active, fieldset[disabled] .btn-pri.active {
    background-color: #ff5e07;
    border-color: #ec5300; }

.section-header, .boxes {
  *zoom: 1;
  max-width: 63.75em;
  margin-left: auto;
  margin-right: auto; }
  .section-header:before, .section-header:after, .boxes:before, .boxes:after {
    content: " ";
    display: table; }
  .section-header:after, .boxes:after {
    clear: both; }

.boxes {
  padding: 11px 0 22px 0; }

.box6 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 14.70196%; }
  .box6:last-child {
    margin-right: 0; }
  .box6:nth-child(6n) {
    margin-right: 0; }
  .box6:nth-child(6n+1) {
    clear: left; }

.box4 {
  position: relative;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .box4:last-child {
    margin-right: 0; }
  .box4:nth-child(4n) {
    margin-right: 0; }
  .box4:nth-child(4n+1) {
    clear: left; }

.box3 {
  position: relative;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .box3:last-child {
    margin-right: 0; }
  .box3:nth-child(3n) {
    margin-right: 0; }
  .box3:nth-child(3n+1) {
    clear: left; }

.box2 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .box2:last-child {
    margin-right: 0; }
  .box2:nth-child(2n) {
    margin-right: 0; }
  .box2:nth-child(2n+1) {
    clear: left; }

.brand {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 40.29137%; }
  .brand:last-child {
    margin-right: 0; }
  .brand img {
    width: 20em; }

.certificates {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .certificates:last-child {
    margin-right: 0; }
  .certificates img {
    margin: 0 1em; }

.contacts {
  text-align: right;
  font-size: 1.4em;
  line-height: 1.2em;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-right: 0; }
  .contacts:last-child {
    margin-right: 0; }
  .contacts a {
    font-family: Arial, sans-serif;
    display: block; }
    .contacts a.tel {
      font-size: 1.4em;
      line-height: 1.3em; }

.hdr-descr {
  font-size: 1.33em;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 74.41059%; }
  .hdr-descr:last-child {
    margin-right: 0; }

.request-call {
  margin-top: 12px;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-right: 0; }
  .request-call:last-child {
    margin-right: 0; }
  .request-call .btn-pri {
    padding: 8px 35px; }

header.boxes {
  padding-bottom: 0; }

.seals {
  padding-top: 11px; }

.seal {
  padding: 5px 8px 8px;
  border: 1px solid #eeeeee;
  min-height: 185px;
  overflow: auto;
  font-size: 15px;
  *zoom: 1;
  background-image: -webkit-radial-gradient(0% 50%,  circle cover, white, #f1f1f1);
  background-image: radial-gradient( circle  at 0% 50%, white, #f1f1f1); }
  .seal:before, .seal:after {
    content: " ";
    display: table; }
  .seal:after {
    clear: both; }
  .seal h3 {
    font-size: 24px; }
  .seal .th-seal {
    float: left;
    margin-right: 0.5em;
    width: 30%;
    height: 30%; }

footer {
  padding-top: 11px;
  background: #eeeeee;
  border-top: 1px solid #999999; }
  footer .box3:first-child a {
    display: block;
    font-family: Arial, sans-serif; }
  footer .btn-pri {
    padding: 8px 35px; }

.prod-description {
  *zoom: 1;
  max-width: 63.75em;
  margin-left: auto;
  margin-right: auto; }
  .prod-description:before, .prod-description:after {
    content: " ";
    display: table; }
  .prod-description:after {
    clear: both; }

.prod-spec {
  padding: 0 2em;
  *zoom: 1; }
  .prod-spec:before, .prod-spec:after {
    content: " ";
    display: table; }
  .prod-spec:after {
    clear: both; }
  .prod-spec strong {
    float: right; }

.prod {
  border: 2px solid #e5e5e5;
  margin-bottom: 22px; }

.prod .thumb {
  position: relative;
  display: block;
  height: 180px;
  margin-bottom: 22px; }
  .prod .thumb img {
    height: 100%;
    width: auto;
    margin: 0 auto;
    vertical-align: bottom; }

.price {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 50px;
  left: 50%; }
  .price span {
    margin-left: 1em;
    padding: 0 10px 0 12px;
    background: #ff5e07;
    color: white;
    text-decoration: none;
    display: inline-block;
    line-height: 24px;
    position: relative; }
    .price span:before {
      content: "";
      float: left;
      margin-right: -1px;
      border-color: transparent #ff5e07 transparent transparent;
      border-style: solid;
      border-width: 12px 12px 12px 0;
      width: 0px;
      height: 0px;
      position: absolute;
      right: 100%;
      bottom: auto;
      left: auto; }
    .price span:after {
      content: "";
      float: left;
      background: white;
      border-radius: 2px;
      width: 4px;
      height: 4px;
      position: absolute;
      top: 10px;
      right: auto;
      bottom: auto;
      left: -2px; }

.detail-thumb {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .detail-thumb:last-child {
    margin-right: 0; }

.detail-intro {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 74.41059%;
  margin-right: 0; }
  .detail-intro:last-child {
    margin-right: 0; }

/*# sourceMappingURL=main.css.map */