@import "lib/vars";
@import "lib/bourbon";
@import "lib/neat";
@import "lib/envos";

.tac {text-align: center;}
.tar {text-align: right;}
.hide{display:none}

// Images
.btn, .input-group-addon {
  [class^="svg-"], [class*=" svg-"] {
    @include size(2em);
  }
}
[class^="svg-c-"], [class*=" svg-c-"] {
  @include size(4em);
}
.thumb img {@include img-responsive;}

// Buttons
// Core styles
.btn {
  display: inline-block;
  padding: $padding-base-vertical $padding-base-horizontal;
  margin-bottom: 0; // For input.btn
  font-size: $font-size-base;
  font-weight: $btn-font-weight;
  line-height: $line-height-base;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: $border-radius-base;
  white-space: nowrap;
  @include user-select(none);

  &:focus {
    @include tab-focus();
  }

  &:hover,
  &:focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    pointer-events: none; // Future-proof disabling of clicks
    opacity: .65;
  }

}


// Alternate buttons
// --------------------------------------------------

.btn {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}
.btn-pri {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
// Grid :: Boxes
.section-header, .boxes {  
  @include outer-container;
}
.boxes {
  padding: ($line-height-computed / 2) 0 $line-height-computed 0;
}
.box6 {
  @include span-columns(2);
  @include omega(6n);
}
.box4 {
  position: relative;  
  @include span-columns(3);
  @include omega(4n);
}
.box3 {
  position: relative;  
  @include span-columns(4);
  @include omega(3n);
}
.box2 {
  @include span-columns(6);
  @include omega(2n);
}

// Header
.brand {
  @include span-columns(5);
  img {
    width: 20em;
  }
}
.certificates {
  @extend .tac;
  @include span-columns(3);
  img {margin: 0 1em;}
}
.contacts {
  text-align: right;
  font-size: 1.4em; 
  line-height: 1.2em;
  @include span-columns(4);
  @include omega();  
  a {
    font-family: Arial, sans-serif;
    display: block;
    &.tel {
      font-size: 1.4em; 
      line-height: 1.3em;
    }
  }
}
.hdr-descr {
  font-size: 1.33em;
  @include span-columns(9);
}
.request-call {
  margin-top: $line-height-computed - 10;
  @extend .tar;
  @include span-columns(3);  
  @include omega();
  .btn-pri {
    padding: 8px 35px;
  }
}

header.boxes {
  padding-bottom: 0;
}
.seals {
  padding-top: $line-height-computed / 2;
}
.seal {
  padding: 5px 8px 8px;
  border: 1px solid $gray-lighter;
  min-height: 185px;
  overflow: auto;
  font-size: $font-size-base - 1;
  @include clearfix;
  @include background-image( radial-gradient(0% 50%, circle cover, #ffffff, #f1f1f1) );
  h3 {
  font-size: $font-size-base * 1.5;    
  }
  .th-seal {
    float: left;
    margin-right: 0.5em;
    @include size(30% 30%);
  }
}
// Footer
footer {
  padding-top: $line-height-computed / 2;
  background: $gray-lighter;
  border-top: 1px solid $gray-light;
  .box3:first-child a {
    display: block;
    font-family: Arial, sans-serif;
  }
  .btn-pri {
    padding: 8px 35px;
  }
}


// Products
.prod-description {
  @include outer-container;  
}

.prod-name {
  @extend .tac;
}
.prod-spec {
  padding: 0 2em;
  @include clearfix;
  strong { float: right;} 
}

.prod {
  border: 2px solid #e5e5e5;
  margin-bottom: $line-height-computed;
}
.prod .thumb {
  position: relative;
  display: block;
  height: 180px;
  margin-bottom: $line-height-computed;
  img {
    height: 100%;
    width: auto;
    margin:0 auto;
    vertical-align: bottom;
  }
}
.price {
  @include position(absolute, auto auto 50px 50% );
  span {
    margin-left:1em;
    padding:0 10px 0 12px;
    background: $brand-primary;
    color:$label-color;
    text-decoration:none;
    display: inline-block;
    line-height: 24px;
    position: relative;
    &:before {
      content:"";
      float:left;    
      margin-right: -1px;
      border-color:transparent $brand-primary transparent transparent;
      border-style:solid;
      border-width:12px 12px 12px 0;
      @include size(0 0);
      @include position(absolute, 0 100% auto auto);
    }
    &:after {
      content:"";
      float:left;
      background: $body-bg;      
      border-radius:2px;
      @include size(4px 4px);
      @include position(absolute, 10px auto auto -2px);
    }  
  } 
}


.detail-thumb {
  @include span-columns(3);  
}
.detail-intro {  
  @include span-columns(9);
  @include omega();
}