<div class="modal-header">
  <button class="close" ng-click="cancel()">&times;</button>
  <h3>{{lead.header}}</h3>
</div>
<div class="modal-body">
  <form name="form" class="modal-form" data-novalidate>
    <input type="hidden" ng-model="lead.product"/>
    <div class="input-group">
      <span class="input-group-addon"><img class="svg-user" src="images/ico/user.svg" alt=""></span>
      <input type="text" class="form-control" ng-model="lead.name" placeholder="Имя" data-required>
    </div>
    <div class="input-group">
      <span class="input-group-addon"><img class="svg-phone" src="images/ico/phone.svg" alt=""></span>
      <input type="tel" class="form-control" ng-model="lead.phone" placeholder="Телефон" data-required>
    </div>
    <div class="input-group">
      <span class="input-group-addon"><img class="svg-comment" src="images/ico/comment.svg" alt=""></span>
      <textarea class="form-control" ng-model="lead.comment" placeholder="NKP"></textarea>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn" ng-click="sendLead()" ng-disabled="form.$invalid">Заказать</button>
</div>

<!-- 
<ul>
<li ng-repeat="item in items">
  <a ng-click="selected.item = item">{{ item }}</a>
</li>
</ul>
Selected: <b>{{ selected.item }}</b> 
-->