<section class="prod-description">
	<button class="close" ng-click="closeProducts()">&times;</button>
	<h2>Серия НКП01У</h2>
	<div class="prod-all">
		<div class="prod box4">
				<div class="prod-name">50-001</div>
				<div class="thumb">
					<img src="images/products/bench/ikp09u-50-001.jpg">
					<span class="feat">250 мм</span>
				</div>
				<div class="price"><span>250 руб.</span></div>
				<button class="btn" ng-click="openPurchase()"><img class="svg-cart" src="images/ico/cart.svg" alt=""></button>
		</div>
		<div class="prod box4">
				<div class="prod-name">50-002</div>
				<div class="thumb">
					<img src="images/products/bench/ikp09u-50-002.jpg">
					<span class="feat">410 мм</span>
				</div>
				<div class="price"><span>410 руб.</span></div>
				<button class="btn" ng-click="openPurchase()"><img class="svg-cart" src="images/ico/cart.svg" alt=""></button>
		</div>
		<div class="prod box4">
				<div class="prod-name">50-003</div>
				<div class="thumb">
					<img src="images/products/bench/ikp09u-50-003.jpg">
					<span class="feat">545 мм</span>
				</div>
				<div class="price"><span>545 руб.</span></div>
				<button class="btn" ng-click="openPurchase()"><img class="svg-cart" src="images/ico/cart.svg" alt=""></button>
		</div>
		<div class="prod box4">
				<div class="prod-name">50-004</div>
				<div class="thumb">
					<img src="images/products/bench/ikp09u-50-004.jpg">
					<span class="feat">650 мм</span>
				</div>
				<div class="price"><span>650 руб.</span></div>
				<button class="btn" ng-click="openPurchase()"><img class="svg-cart" src="images/ico/cart.svg" alt=""></button>
		</div>	
	</div>

	<div class="prod-content">

		<h4>Назначение</h4>
		<p>Светильник серии ИКП 09У предназначены для местного освещения рабочих зон сверлильных, токарных и других станков, сборочных столов, а также разного производственного оборудования. Светильники рассчитаны на работу от сети с номинальным напряжением12В или 24В постоянного или переменного тока частоты 50 или 60 Гц. Климатическое исполнение УХЛ4. Степень защиты IP 54.</p>
		<h4>Источник света</h4>
		<p>Лампы галогенные тип jc, отечественные или импортные аналоги мощностью 35-75Вт. Отражатель алюминиевый, угол рассеивания 60 град., патрон GU 5,3.</p>
		<h4>Монтаж</h4>
		<p>Светильник крепится основанием на горизонтальную или вертикальную поверхность с помощью четырёх винтов.</p>
		<h4>Составные части</h4>
		<p>Гибкая часть, изготовлена из стали ОК и пружинной стали класса В1, покрыта цинком, или покрашена чёрной порошковой краской. Основание - полиамид стеклонаполненный. Верхний корпус - алюминий, стекло - калёное сталенитовое, толщиной 4 мм, прокладки из термостойкой резины.</p>
		<h4>Комплект поставки</h4>
		<ol>
			<li>Светильник.</li>
		</ol>
		<p>Лампа в комплект поставки входит только при отдельной договорённости.</p>
		
	</div>
</section>