<button class="close" ng-click="closeDetails()">&times;</button>
<div class="descr-text">
	<h4>Назначение</h4>
	<p>Светильник серии НКП 01У предназначены для местного освещения рабочих зон сверлильных, токарных и других станков, сборочных столов, а также разного производственного оборудования. Светильники рассчитаны на работу от сети с номинальным напряжением 24В или 36В постоянного или переменного тока частоты 50 или 60 Гц. Климатическое исполнение УХЛ4.</p>
</div>
<div class="descr-how">
	<h4>Источник света</h4>
	<p>Лампы МО 24-60, 24-100, 36-60, 36-100 или импортные аналоги мощностью 60 и 100Вт.</p>
	<h4>Монтаж</h4>
	<p>Светильник крепится основанием на горизонтальную или вертикальную поверхность с помощью четырёх винтов.</p>
</div>
<div class="descr-pack">
	<h4>Составные части</h4>
	<p>Гибкая часть изготовлена из стали ОК и пружинной стали класса В1, покрытые цинком, основание и корпус - полиамид стеклонаполненый, отражатель - металлический белый.</p>
	<h4>Комплект поставки</h4>
	<ol>
		<li>Светильник.</li>
	</ol>
	<p>Лампа в комплект поставки не входит</p>
</div>