<section class="prod-description">
	<div class="prod-header">
		<button class="close" ng-click="closeProducts()">&times;</button>
		<h2>Серия НКП01У</h2>
	</div>
	<div class="prod box4" ng-repeat="stanok in Bench.record | filter:class='nkp'">
		<div class="prod-name">{{stanok.model}}</div>
		<a class="thumb" href="#" ng-click="openLightbox()">
			<img ng-src="images/products/bench/{{stanok.picture}}.jpg">
			<span class="feat">{{stanok.height}}</span>
		</a>
		<div class="price"><span>{{stanok.price}} руб.</span></div>
		<button class="btn" ng-click="openPurchase()"><img class="svg-cart" src="images/ico/cart.svg" alt=""></button>
	</div>

	<div class="prod-content" ng-include="product.descr"></div>
</section>