<section class="prod-description">
	<button class="close" ng-click="closeProducts()">&times;</button>
	<h2>Серия НКП01У</h2>
	<div class="prod-all">
		<div class="prod box6">
				<div class="prod-name">100-001</div>
				<div class="thumb">
					<img src="images/products/bench/nkp01u-100-001.jpg">
					<span class="feat">250 мм</span>
				</div>
				<div class="price"><span>250 руб.</span></div>
				<button class="btn" ng-click="openPurchase()"><img class="svg-cart" src="images/ico/cart.svg" alt=""></button>
		</div>
		<div class="prod box6">
				<div class="prod-name">100-002</div>
				<div class="thumb">
					<img src="images/products/bench/nkp01u-100-002.jpg">
					<span class="feat">410 мм</span>
				</div>
				<div class="price"><span>410 руб.</span></div>
				<button class="btn" ng-click="openPurchase()"><img class="svg-cart" src="images/ico/cart.svg" alt=""></button>
		</div>
		<div class="prod box6">
				<div class="prod-name">100-003</div>
				<div class="thumb">
					<img src="images/products/bench/nkp01u-100-003.jpg">
					<span class="feat">545 мм</span>
				</div>
				<div class="price"><span>545 руб.</span></div>
				<button class="btn" ng-click="openPurchase()"><img class="svg-cart" src="images/ico/cart.svg" alt=""></button>
		</div>
		<div class="prod box6">
				<div class="prod-name">100-004</div>
				<div class="thumb">
					<img src="images/products/bench/nkp01u-100-004.jpg">
					<span class="feat">650 мм</span>
				</div>
				<div class="price"><span>650 руб.</span></div>
				<button class="btn" ng-click="openPurchase()"><img class="svg-cart" src="images/ico/cart.svg" alt=""></button>
		</div>
		<div class="prod box6">
				<div class="prod-name">100-005</div>
				<div class="thumb">
					<img src="images/products/bench/nkp01u-100-005-goliath.jpg">
					<span class="feat">1000 мм</span>
				</div>
				<div class="price"><span>1000 руб.</span></div>
				<button class="btn" ng-click="openPurchase()"><img class="svg-cart" src="images/ico/cart.svg" alt=""></button>
		</div>
		<div class="prod box6">
				<div class="prod-name">100-003</div>
				<div class="thumb">
					<img src="images/products/bench/nkp01u-100-003-m.jpg">
					<span class="feat">454 мм</span>
				</div>
				<div class="price"><span>454 руб.</span></div>
				<button class="btn" ng-click="openPurchase()"><img class="svg-cart" src="images/ico/cart.svg" alt=""></button>
		</div>		
	</div>

	<div class="prod-content">
		<h4>Назначение</h4>
		<p>Светильник серии НКП 01У предназначены для местного освещения рабочих зон сверлильных, токарных и других станков, сборочных столов, а также разного производственного оборудования. Светильники рассчитаны на работу от сети с номинальным напряжением 24В или 36В постоянного или переменного тока частоты 50 или 60 Гц. Климатическое исполнение УХЛ4.</p>
		<h4>Источник света</h4>
		<p>Лампы МО 24-60, 24-100, 36-60, 36-100 или импортные аналоги мощностью 60 и 100Вт.</p>
		<h4>Монтаж</h4>
		<p>Светильник крепится основанием на горизонтальную или вертикальную поверхность с помощью четырёх винтов.</p>
		<h4>Составные части</h4>
		<p>Гибкая часть изготовлена из стали ОК и пружинной стали класса В1, покрытые цинком, основание и корпус - полиамид стеклонаполненый, отражатель - металлический белый.</p>
		<h4>Комплект поставки</h4>
		<ol>
			<li>Светильник.</li>
		</ol>
		<p>Лампа в комплект поставки не входит</p>
	</div>
</section>