<!-- Awards block -->
<section class="box3">
	<div class="seal">
		<h3>Лучшая цена</h3>
		<img src="http://placehold.it/140x100">
		<p>Мы гарантируем лучшую цену так как яввляемся производителями</p>
	</div>
	<div class="seal">
		<h3>Гарантия возврата</h3>
		<img src="http://placehold.it/140x100">
		<p>Если наш товар Вам не подойдет или не понадобится, мы вернем Вам деньги</p>
	</div>
	<div class="seal">
		<h3>Гарантия качества</h3>
		<img src="http://placehold.it/140x100">
		<p>Мы хотим, чтобы вы еще долго оставались довольны качеством нашей продукции</p>
	</div>
</section>

<!-- Products Block -->
<h2>Станочные светильники</h2>
<section class="box3">
	<div class="thumb">
		<h3>Серия НКП 01У</h3>
		<span class="price">от 500 руб.</span>
		<img class="circle" src="http://placehold.it/140x140">
		<div class="specs-brief">
			Длина стойки L, мм
			Защитный угол, град
			Минимальная освещенность
		</div>
		<a href="#" class="btn">Подробнее</a>
		<a href="#" class="btn">Заказать</a>
	</div>
	<div class="thumb">
		<h3>Серия ИКП 09У</h3>
		<span class="price">от 500 руб.</span>
		<img class="circle" src="http://placehold.it/140x140">
		<div class="specs-brief">
			Длина стойки L, мм
			Защитный угол, град
			Минимальная освещенность
		</div>
		<a href="#" class="btn">Подробнее</a>
		<a href="#" class="btn">Заказать</a>
	</div>
	<div class="thumb">
		<h3>Серия ИКП 10У</h3>
		<span class="price">от 500 руб.</span>
		<img class="circle" src="http://placehold.it/140x140">
		<div class="specs-brief">
			Длина стойки L, мм
			Защитный угол, град
			Минимальная освещенность
		</div>
		<a href="#" class="btn">Подробнее</a>
		<a href="#" class="btn">Заказать</a>
	</div>	
</section>

<h2>Тепличные светильники</h2>
<section class="box3">
	<div class="thumb">
		<h3>Серия НКП 01У</h3>
		<span class="price">от 500 руб.</span>
		<img class="circle" src="http://placehold.it/140x140">
		<div class="specs-brief">
			Длина стойки L, мм
			Защитный угол, град
			Минимальная освещенность
		</div>
		<a href="#" class="btn">Подробнее</a>
		<a href="#" class="btn">Заказать</a>
	</div>
	<div class="thumb">
		<h3>Серия ИКП 09У</h3>
		<span class="price">от 500 руб.</span>
		<img class="circle" src="http://placehold.it/140x140">
		<div class="specs-brief">
			Длина стойки L, мм
			Защитный угол, град
			Минимальная освещенность
		</div>
		<a href="#" class="btn">Подробнее</a>
		<a href="#" class="btn">Заказать</a>
	</div>
	<div class="thumb">
		<h3>Серия ИКП 10У</h3>
		<span class="price">от 500 руб.</span>
		<img class="circle" src="http://placehold.it/140x140">
		<div class="specs-brief">
			Длина стойки L, мм
			Защитный угол, град
			Минимальная освещенность
		</div>
		<a href="#" class="btn">Подробнее</a>
		<a href="#" class="btn">Заказать</a>
	</div>	
</section>

<!-- Become Dealer Block -->
<section>
	<a href="" class="btn btn-pri">Заявка на получение дилерских условий</a>
</section>

<!-- Achievments -->
<section>
	<h4>Сертификаты</h4>
	<img src="http://envos.biz/usr/Image/sertificats/rus.jpg" alt="">
	<img src="http://envos.biz/usr/Image/sertificats/ua.jpg" alt="">
	<h4>Наши клиенты</h4>
	<h4>Отзывы</h4>
</section>