<!-- Awards block -->
<section class="boxes">
	<div class="seal box3">
		<h3>Лучшая цена</h3>
		<img class="th-seal" src="images/seal/price.png">
		<p>Мы гарантируем лучшую цену так как яввляемся производителями</p>		
	</div>
	<div class="seal box3">
		<h3>Гарантия возврата</h3>
		<img class="th-seal" src="images/seal/recall.png">
		<p>Если наш товар Вам не подойдет или не понадобится, мы вернем Вам деньги</p>		
	</div>
	<div class="seal box3">
		<h3>Гарантия качества</h3>
		<img class="th-seal" src="images/seal/quality.png">
		<p>Мы хотим, чтобы вы еще долго оставались довольны качеством нашей продукции</p>		
	</div>
</section>

<!-- Series Block -->
<section class="cat-links boxes">
	<div class="box3">
		<h2>Станочные светильники</h2>
		 <p>для местного освещения рабочих зон сверлильных, токарных и других станков, сборочных столов, а также разного производственного оборудования</p>
		<h4>Сертификаты</h4>
		<a href=""><img class="svg-c-rost" src="images/rost.svg" alt=""></a>
	  <a href=""><img class="svg-c-sepro" src="images/ukr-sepro.svg" alt=""></a>		 
	</div>
	<div class="cat box3">
		<h3>Серия НКП 01У</h3>
		<div class="price">от <span>500 руб.</span></div>
		<div class="circle thumb">
			<img src="images/products/bench/nkp-head.jpg">
		</div>
		<div class="specs-brief">
			<p>Защитный угол, град <strong>19</strong></p>
			<p>Минимальная освещенность <strong>2300</strong></p>
		</div>
		<button class="btn" ng-click="showProducts(0)"><img class="svg-info" src="images/ico/info.svg" alt="">
			<span>Подробнее</span></button>
		<button class="btn" ng-click="openPurchase()"><img class="svg-cart" src="images/ico/cart.svg" alt="">
			<span>Заказать</span></button>
	</div>
	<div class="cat box3">
		<h3>Серия ИКП 09У</h3>
		<div class="price">от <span>500 руб.</span></div>
		<div class="circle thumb">
			<img src="images/products/bench/ikp-head.jpg">
		</div>
		<div class="specs-brief">
			<p>Защитный угол, град <strong>19</strong></p>
			<p>Минимальная освещенность <strong>800/3100</strong></p>
		</div>
		<button class="btn" ng-click="showProducts(1)"><img class="svg-info" src="images/ico/info.svg" alt="">
			<span>Подробнее</span></button>
		<button class="btn" ng-click="openPurchase()"><img class="svg-cart" src="images/ico/cart.svg" alt="">
			<span>Заказать</span></button>
	</div>
</section>

<!-- Serie Detail Block -->
<div class="partial-container">
	<div class="partial-block" ng-include="product.url"></div>
</div>

<!-- Become Dealer Block -->
<section class="dealer boxes">
	<p class="tac">
		<a href="" class="btn btn-pri">Заявка на получение дилерских условий</a>
	</p>
</section>

<!-- Achievments -->
<section class="boxes">
	<h3 class="box-title">Наши клиенты</h3>	
	<div class="box4 thumb">
		<a href="http://www.antonov.com/" target="_blank"><img src="images/partners/antonov.png" alt="Государственное предприятие 'Антонов'"></a>
	</div>
	<div class="box4 thumb">
		<a href="http://www.artem.ua/" target="_blank"><img src="images/partners/artem.png" alt="Государственная акционерная холдинговая компания 'Артем'"></a>
	</div>
	<div class="box4 thumb">
		<a href="http://www.progress.ua/" target="_blank"><img src="images/partners/progress.png" alt="ОАО Бердичевский машиностроительный завод 'Прогресс'"></a>
	</div>
	<div class="box4 thumb">
		<a href="http://www.yuzhnoye.com/" target="_blank"><img src="images/partners/yuzhnoe.png" alt="КБ 'Южное'"></a>
	</div>
</section>