<div class="section-header">
	<h2>Станочный светильник ИКП09У-{{Bench.model}}</h2>
</div>
<section class="details boxes">
	<div class="detail-thumb thumb">
		<img ng-src="images/products/bench/{{Bench.picture}}.jpg" alt="">
	</div>
	<div class="detail-intro">
		<h4>Назначение</h4>
		<p>
			Светильник серии ИКП 09У предназначены для местного освещения рабочих зон сверлильных, токарных и других станков, сборочных столов, а также различного производственного оборудования.<br />
			Светильники рассчитаны на работу от сети с номинальным напряжением12В или 24В постоянного или переменного тока частоты 50 или 60 Гц. <br />Климатическое исполнение УХЛ4.<br />
			Степень защиты IP 54.<br />
		</p>

		<h4>Источник света</h4>
		<p>Лампы галогенные  тип  jc, отечественные или импортные аналоги мощностью 35-75Вт. Отражатель алюминиевый, угол рассеивания 60 град., патрон GY 6,35.</p>

		<h4>Монтаж</h4>
		<p>Светильник крепится основанием на горизонтальную, вертикальную поверхность с помощью четырёх винтов на квадратное, стандартное для станочной промышленности, посадочное место со стороной 64мм. (Разрез А-А)</p>

		<h4>Составные части</h4>
		<p>Гибкая часть, изготовлена из стали ОК и пружинной стали класса В1, покрыта цинком, или покрашена чёрной порошковой краской. Основание – полиамид стеклонаполненный. Верхний корпус – алюминий, стекло – калёное сталинитовое, толщиной 4 мм, прокладки из термостойкой резины.</p>


		<table class="table table-striped">
			<thead>
				<tr>
					<th>Тип светильника</th>
					<th>Сила света, Lum/ Освещённость, Lk</th>
					<th>Защитный угол, град</th>
					<th>Длина стойки L, мм</th>
					<th>Масса, кг</th>
				</tr>			
			</thead>
			<tbody>
				<tr>
					<td>ИКП10У-50-001</td>
					<td>800/3100</td>
					<td>19</td>
					<td>250</td>
					<td>1,0</td>
				</tr>
				<tr>
					<td>ИКП10У-50-002</td>
					<td>800/3100</td>
					<td>19</td>
					<td>410</td>
					<td>1,2</td>
				</tr>
				<tr>
					<td>ИКП10У-50-003</td>
					<td>800/3100</td>
					<td>19</td>
					<td>545</td>
					<td>1,4</td>
				</tr>
				<tr>
					<td>ИКП10У-50-004</td>
					<td>800/3100</td>
					<td>19</td>
					<td>650</td>
					<td>1,6</td>
				</tr>
			</tbody>
		</table>

		<p class="lead">Преимущества светильника ИКП 09У-50 в сравнении с конкурентными аналогами:</p>
		<ol>
			<li>Гальванопокрытие гибкой стойки надежно защищает от коррозии и не происходит лущение краски в результате изгиба стойки (у конкурентных аналогов краска зачастую отлетает еще, не доехав до потребителя).</li>
			<li>Наличие нижнего или верхнего тумблера (выключателя повышает удобство рабочего процесса.</li>
			<li>Отражатель из анодированного алюминия(никогда не потускнеет, отражение 92%).</li>
			<li>Стекло – калёное сталенитовое (в ИКП-03В- силикатное.(Никогда не треснет от пергрева, всегда от сильного удара рассыпаеться на мелкие куски не приченяя вреда, разбить ОЧЕНЬ трудно – очень надёжная защита света от стружки,окалин , брызг и агресивной среды.)</li> 
			<li>Провода, клемная колодка, электропатрон   термостойкие.</li>
			<li>Гарантийный строк 18 месяцев.</li>
		</ol>
		<p>Для установки тумблера на верхнем корпусе, имеется специальное отверстие на заднее стенке верхнего корпуса. Данное отверстие заглушено латунной муфтой с резиновой вставкой (входит в комплект).Прокладки (шайба уплотнительная) из термостойкой резины.</p>

		<p class="lead">Основным преимуществом и отличием от свет-ка ИКП есть:</p>
		<ol>
			<li>степень защиты ІР54 + сталенитовое стекло дает возможность использования на деревообрабатывающих станках, на станках с подачей и сильным разбрызгиванием СОЖ (Смазочно-охладительная жидкость) , в местах повышеной корозионной агресии среды, на текстильном обордовании – всё это за счёт повышеной пылевлагозащиты.</li>
			<li>Пониженый Вольтаж галогеновой лампы  12-24в – удлиняет службу лампы в сравнении с лампой накаливания (36В).</li>
			<li>Светильник ИКП обеспечивает интенсивный и объёмный поток света и является оптимальным вариантом для освещения рабочей зоны.</li>
		</ol>
		<p class="tac">
			<img src="images/products/schema/ikp.png" alt="">
		</p>
	</div>
</section>