<tabset>
    <tab heading="Общие сведения">
    
			<h4>Назначение</h4>

			<p>Светильник серии ЛКП 01У предназначены для местного освещения рабочих зон сверлильных, токарных и других станков, сборочных столов, а также различного производственного оборудования.<br />
				Светильники рассчитаны на работу от сети с номинальным напряжением 24В или 36В постоянного или переменного тока частоты 50 или 60 Гц. <br />
				Климатическое исполнение УХЛ4.<br />
				Степень защиты – IP -20.</p>

				<h4>Источник света</h4>
				<p>Компактные люминесцентные лампы: КЛЛ-15, КЛЛ-20, 3U-15, 3U-20, SM-15, SM-20, SPM-15, SPM-20 или импортные аналоги мощностью 15 и 20Вт. Цоколь Е-27.</p>

				<h4>Монтаж</h4>
				<p>Светильник крепится основанием на горизонтальную, вертикальную поверхность с помощью четырёх винтов на квадратное, стандартное для станочной промышленности, посадочное место со стороной 64мм. (Разрез А-А).</p>

				<h4>Составные части</h4>
				<p>Гибкая часть изготовлена из стали ОК и пружинной стали класса В1,покрытые цинком, основание и корпус – износостойкий и ударопрочный полиамид стеклонаполненый, отражатель - стальной, окрашен белой высокотемпературной порошковой эмальной краской.</p>
    </tab>
    <tab heading="Таблица характеристик">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Тип Светильника</th>
						<th>Минимальная освещенность</th>
						<th>Защитный угол, град</th>
						<th>Длина стойки L, mm</th>
						<th>Масса, кг</th>
					</tr>
				</thead>	
				<tbody>
					<tr>
						<td>
							ЛКП01У-15-001<br />
							ЛКП01У-20-001
						</td>
						<td>
							2324<br />
							3480
						</td>
						<td>
							18<br />
							19
						</td>
						<td>250</td>
						<td>0,75</td>
					</tr>
					<tr>
						<td>
							ЛКП01У-15-002<br />
							ЛКП01У-20-002
						</td>
						<td>
							2324<br />
							3480
						</td>
						<td>
							18<br />
							19
						</td>
						<td>410</td>
						<td>0,82</td>
					</tr>
					<tr>
						<td>
							ЛКП01У-15-003<br />
							ЛКП01У-20-003
						</td>
						<td>
							2324<br />
							3480
						</td>
						<td>
							18<br />
							19
						</td>
						<td>545</td>
						<td>0,94</td>
					</tr>
					<tr>
						<td>
							ЛКП01У-15-004<br />
							ЛКП01У-20-004
						</td>
						<td>
							2324<br />
							3480
						</td>
						<td>
							18<br />
							19
						</td>
						<td>650</td>
						<td>1,1</td>
					</tr>
					<tr>
						<td>
							ЛКП01У-15-005<br />
							ЛКП01У-20-005
						</td>
						<td>
							2324<br />
							3480
						</td>
						<td>
							18<br />
							19
						</td>
						<td>1000</td>
						<td>1,13</td>
					</tr>
				</tbody>
			</table>    
    </tab>    
	</tabset>