<h4>Назначение</h4>
<p>Светильник серии НКП 01У предназначены для местного освещения рабочих зон сверлильных, токарных и других станков, сборочных столов, а также различного производственного оборудования.<br />
	Светильники рассчитаны на работу от сети с номинальным напряжением 24В или 36В постоянного или переменного тока частоты 50 или 60 Гц. <br />
	Климатическое исполнение УХЛ4.<br />
	Степень защиты – IP -20.</p>

	<h4>Источник света</h4>
	<p>Лампы МО 24-60, 24-100, 36-60, 36-100 или импортные аналоги  мощностью 60 и 100Вт. Цоколь Е-27.</p>

	<h4>Монтаж</h4>
	<p>Светильник крепится основанием на горизонтальную, вертикальную поверхность с помощью четырёх винтов на квадратное, стандартное для станочной промышленности, посадочное место со стороной 64мм. (Разрез А-А).</p>

	<h4>Составные части</h4>
	<p>Гибкая часть изготовлена из стали ОК и пружинной стали класса В1,покрытые цинком, основание и корпус – износостойкий и ударопрочный полиамид стеклонаполненый, отражатель -  стальной, окрашен белой высокотемпературной порошковой эмальной краской.</p>


	<table class="table table-striped">
		<thead>
			<tr>
				<th>Тип Светильника</th>
				<th>Минимальная освещенность</th>
				<th>Защитный угол, град</th>
				<th>Длина стойки L, mm</th>
				<th>Масса, кг</th>
			</tr>
		</thead>	
		<tbody>
			<tr>
				<td>НКП01У-100-001</td>
				<td>2300</td>
				<td>19</td>
				<td>250</td>
				<td>0,75</td>
			</tr>
			<tr>
				<td>НКП01У-100-002</td>
				<td>2300</td>
				<td>19</td>
				<td>410</td>
				<td>0,82</td>
			</tr>
			<tr>
				<td>НКП01У-100-003</td>
				<td>2300</td>
				<td>19</td>
				<td>545</td>
				<td>0,94</td>
			</tr>
			<tr>
				<td>НКП01У-100-004</td>
				<td>2300</td>
				<td>19</td>
				<td>650</td>
				<td>1,1</td>
			</tr>
			<tr>
				<td>НКП01У-100-005</td>
				<td>2300</td>
				<td>19</td>
				<td>1000</td>
				<td>1,13</td>
			</tr>
		</tbody>
	</table>
	<p class="lead">Преимущества светильника НКП 01У в сравнении с конкурентными аналогами:</p>
	<ol>
		<li>Металлический отражатель длиннее обычного на 11мм и полностью перекрывает боковой свет от лампы, который попадает в глаза рабочего, в конкурентных аналогах лампа выступает за край отражателя и светит в глаза. Отсутствие гофры и вмятин на поверхности отражателя.</li>
		<li>Гальванопокрытие гибкой стойки надежно защищает от коррозии и не происходит лущение краски в результате изгиба стойки (у конкурентных аналогов краска зачастую отлетает еще, не доехав до потребителя).</li>
		<li>Угол поворота у основания 160&deg;, угол наклона стойки у основания 20&deg;, легкая фиксация выбранного положения поворотом гайки с минимальным усилием за счет фрикционного зажима сферических поверхностей. У конкурентных аналогов отсутствует нижняя поворотная часть, а соответственно и настройка необходимого положения.</li> 
		<li>Наличие нижнего или верхнего тумблера(выключателя) повышает удобство рабочего процесса.</li>
		<li>Гарантийный строк 18 месяцев.</li>
	</ol>

	<h4>РЕКОМЕНДАЦИИ К ПРИМЕНЕНИЮ:</h4>

	<ul>
		<li>001 – основные места установки –  обрезные, заточные, полировальные станки и портативные станочки</li>
		<li>002 – Сварочные приспособления, фрезерные  станки</li>
		<li>003 – токарные, сверлильные, фрезерные станки, металопорезка</li>
		<li>004 – гидропресы,  пресы, штамповочные станки, металопорезка</li>
		<li>005- рабочие зоны АТП(Авто транспортных предприятий), спецоборудование, высокогабаритное оборудование</li>
	</ul>

	<p>Список являеться примерным установка светильника в первую очередь зависит от – места расположения посадочного места относително рабочей зоны станка. Во вторую от потребности перемещения зоны освещённости и соответственно длины перемещения.</p>
	<p>Посадочное место – А-А разрез.</p>